body{
	overflow:hidden;
}

.bottom-btn {
	color: black;
}

.input-icon {
    float: right;
    margin-top: -38px;
    position: relative;
    cursor: pointer;
}

.notification-dot {
    display: none;
    vertical-align: text-top;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    background: red;
}

.close {
    width: 5px;
    margin-bottom: 3px;
}

#graphMSelector {
    display: block !important;
    visibility: hidden;
}

#main {
}

#menuHolder {
    display: flex;
	/* box-shadow: 0 0 2px #713C3C; */
	border: solid 1px #cccccc;
	padding:10px;
	/* background-color: #f2f3f4; */
	height: 60px;
	overflow: auto;
	z-index: 5;
}

#logoHolder {
	width: 300px;
	height: 82.25px;
	margin-bottom: 20px;
	border-bottom: solid 0.5px #cccccc;
}

#graphGSelector {
}

#upload, #preset{
	padding:10px 0px;
}

#preset_inputSet{
	margin-bottom:10px;
}

.margin_left_20 {
	margin-left: 20px;
}

#upload_browseFile{
	margin-top:5px;
	margin-bottom:15px
}

#canvasHolder{
	height:300px;
	weight:300px;
	border: solid 1px #cccccc;
	margin-bottom:10px;
	
}

#zoomoutButton{
    margin-right: 5px;
}

#zoomoutButton, #zoominButton
{
	width: 36px;
}

#graphContainer {
    height: calc(100vh - 80px);
}

#graphHolder{
	border: solid 1px #cccccc;
	height:100%;
	width:100%;
}

#graphBoard {
	display:flex;
	height:calc(100% - 30px);
	width:100%;
}

#graphCanvas{
	flex: 4;
}

#graphSidePanel {
	border: 1px solid #cccccc;
	padding: 5px;
	overflow-y: auto;
	flex: 1;
}

#graphNavBar{
	width: 100%;
	height: 30px;
	padding:5px;
}

.category-item{
	display: flex;
	cursor: pointer;
}

.cursorHand{
	cursor: pointer;
}

.navBarButton{
	width:20px;
	height:20px;
	margin-left:5px;
}

#loader {
  display: none;
  margin-left: 10px;
  margin-top: 5px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

#graphTitle {
	margin: 10px 20px;
	position: absolute;
	font-size: 30px;
	z-index: 10;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.auto-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /*Could be more or less, depending on screen size */
}

.auto-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}